.pagination{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.pagination > li{
    list-style-type: none;
    display: block;
    padding: 1rem;
    border: 1px solid green;
    border-left: none;
    cursor: pointer;
}
.pagination >li > a{
    text-decoration: none;
    padding: 1rem;
    color: green;
    font-size: 1.4rem;

}

.pagination > li:first-child{
    border-left: 1px solid green !important;
}

.active{
    background: green;
}
.active >a {
    color: white !important;
}

.pagination > li:first-child{
    border-top: 1px solid green !important;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6ram;

}
.pagination >li :last-child{
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
}
